.tab {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 46, 98);
    border-style: line;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    width: 250px;
    text-shadow: none;
    cursor: pointer;
    font-size: 18px;
    padding-right: 10px;
}

.tab:active {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 46, 98);
    border-style: line;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab:disabled {
    color: brown;
}


.list {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-left: 40px;

}

.link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(164, 163, 173);
    padding-top: 20px;
}

.divLink {
    margin-left: 40px;
    display: flex;
    align-items: center;

}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 40px;
}

.alignPanel {
    margin-top: 20px;
}