.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 46, 98);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    width: 300px;
    text-shadow: none;
    cursor: pointer;
    font-size: 20px;
    padding-right: 10px;
    font-weight: bold;
    border-color: #e8e8e9;
    margin-right: 20px;
}

.tab:active {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 46, 98);
    border-style: line;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #e8e8e9;
}

.tab:focus-visible{
    outline: none;
}





.list {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-left: 40px;

}

.link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(164, 163, 173);
    padding-top: 20px;
}

.divLink {
    margin-left: 40px;
    display: flex;
    align-items: center;

}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 40px;
}

.alignPanel {
    margin-top: 20px;
}